body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-image: linear-gradient(to right, #5B483A, #262425);
}

.header__main {
    display: flex;
    align-items: center;
    max-width: 1280px;
    padding: 30px 40px 40px 40px;
    justify-content: space-between;
    margin: 0 auto;
}

.header__pets_page {
    display: flex;
    align-items: center;
    padding: 30px 40px 40px 40px;
    background-color: white;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
}

.header__pets {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

.header__content_pets {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

.logo__pets .logo__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
}

.logo__pets .logo__subtitile {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.navbar__pets ul{
    display: flex;
    align-items: center;
}


.navbar__pets ul li a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.center_container {
    max-width: 1280px;
    margin: 0 auto;
}

.center_container header{
    background-image: linear-gradient(to right, #5B483A, #262425);
}

.logo__title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo__subtitile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 10px;
}

.navbar ul {
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 35px;
}

a{
    text-decoration: none;
    color: #CDCDCD;
}

.underline a {
    color: #FAFAFA;
    padding: 1px;
    border-bottom: 3px solid #F1CDB3;
}

ul li a:hover {
    color: #FAFAFA;
    padding: 1px;
    border-bottom: 3px solid #F1CDB3;
}

ul li a.pets-page:hover {
    color: #545454;
    padding: 1px;
    border-bottom: 3px solid #F1CDB3;
}

.pets_card-block_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
}

.pets_card-block_main_difference {
    justify-content: space-around;
}

.main__not-only {
    background-image: linear-gradient(to right, #5B483A, #262425);
    padding: 90px 40px 0 40px;
}

.not-only__pic {
    display: flex;
    max-width: 698px;
    max-height: 728px;
}

.first-screen-foto {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 310px;
}

.not-only__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 460px;
    padding: 0 0 40px 0;
}

.not-only__description p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #CDCDCD;
    padding: 42px 0;
    max-width: 460px;
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 45px;
    color: #292929;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: none;
}

.main__about {
    padding: 80px 40px 100px 40px;
}

.about-pets-foto {
    width: 300px;
    height: 408px;
}

.main__about_description {
    max-width: 430px;
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
}

.main__about_description h2 {
    padding-right: 60px;
}

.main__about_description p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding-top: 25px;
} 

.main__our-friends .pets_card-block_main {
    display: flex;
    flex-direction: column;
}

.pets_card-block_our-friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.main__our-friends {
    padding: 80px 40px 100px 40px;
    background-color: #F6F6F6;
}

.main__our-friends h2,
.main__help h2 {
    text-align: center;
    margin: 0 auto;
}

.btn-arr-left, 
.btn-arr-right {
    width: 52px;
    height: 52px;
    border: 1px solid #F1CDB3;
    border-radius: 100%;
}

.btn-arr-left img,
.btn-arr-right img{
    position: relative;
    top: 15px;
    left: 19px;
}

.pets_card-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.main__our-friends h2,
.main__help h2  {
    max-width: 379px;
}

.pet-nickname {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 30px 0;
}

.pet-card {
    background-color: #FAFAFA;
    border-radius: 9px;
}

.btn__pet {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 45px;
    background-color: transparent;
    border: 1px solid #F1CDB3;
    border-radius: 100px;
}

.btn-pet-card {
    display: block;
    margin: 0 auto;
}

.main__help {
    padding: 80px 40px 100px 40px;
}

.pets_card-block_main-help {
   display: flex;
   flex-direction: column;
   max-width: 1280px;
   margin: 0 auto;
}

.help__container {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    padding: 5px 87px 0 87px;
    max-width: 1020px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.help-list {
    padding-top: 55px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.no-padding {
    padding-right: 0px;
}


.main__in-addition {
    display: flex;
    justify-content: center;
    padding: 80px 182px 100px 182px;
    background-color: #F6F6F6;
}

.donation-dog-img {
    width: 500px;
    height: 260px;
    padding-right: 30px;
}

.donation {
    width: 380px;
}

.donation h2 {
    font-size: 35px;
    line-height: 130%;
    max-width: 300px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.bank-info {
    padding: 20px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.credit-card-info {
    display: flex;
    background-color: #F1CDB3;
    padding: 10px 15px;
    border-radius: 9px;
    max-width: 322px;
}

.credit-card-info img {
    padding-right: 15px;
}

.credit-card {
    font-size: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.additional-info {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    padding-top: 20px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0 40px;
    background-image: linear-gradient(to right, #513D2F, #1A1A1C);
}

.footer__title {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__contacts,
.footer__address {
    max-width: 300px;
}

.contacts a,
.address a{
    font-family: 'Georgia';
    font-style: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.contacts {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.address {
    display: flex;
    align-items: center;
    padding-top: 32px;
}

.address-icon,
.contacts-icon {
    padding-right: 20px;
}

.footer__pets {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

.pets_card-block_pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 45px;
}

.btn-pagination {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.btn_pagination_left,
.btn_pagination_right,
.btn_pagination_left2, 
.btn_pagination_right2 {
    width: 52px;
    height: 52px;
    border: 1px solid #CDCDCD;
    border-radius: 100%;
    margin-right: 20px;
}

.btn_pagination_page {
    width: 52px;
    height: 52px;
    background-color: #F1CDB3;
    border: 1px solid #F1CDB3;
    border-radius: 100%;
}

.btn_pagination_right,
.btn_pagination_right2 {
    border: 1px solid #F1CDB3;
}

.btn_pagination_left img,
.btn_pagination_right img {
    position: relative;
    top: 18px;
    left: 19px;
}

.btn_pagination_left2 img, 
.btn_pagination_right2 img {
    position: relative;
    top: 18px;
    left: 13px;
}

.btn_pagination_page p {
    position: relative;
    top: 14px;
    left: 21px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.btn_pagination_page {
    margin-right: 20px;
}

.btn_pagination_right2 {
    margin-right: 0;
}

.main__our-friends_pets {
    padding: 80px 40px 100px 40px;
    background-color: #F6F6F6;
}

.main__our-friends_pets h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 45px;
}


/* адаптивная верстка */

@media (max-width: 768px) {
    .pets_card-block_main {
        display: flex;
        flex-direction: column;
        max-width: 570px;
        margin: 0 auto;
    }

    .not-only__pic {
        display: flex;
        align-self: flex-end;
        max-width: 570px;
        max-height: 590px;
    }

    .btn {
        margin: 0 auto;
    }

    /* About block */
    .main__about,
    .pets_card-block_main_difference,
    .main__about_description {
        max-width: 440px;
        margin: 0 auto;
    }

    .pets_card-block_main_difference {
        flex-direction: column-reverse;
    }

    .about-pets-foto {
        display: block;
        margin: 0 auto;
        padding-top: 80px;
        width: 300px;
        height: 408px;
    }

    /* Our friends section */
    #pet-card_to-hide {
        display: none;
    }

    .pets_card-block_main {
        max-width: 708px;
    }

    .main__our-friends {
        padding: 80px 30px 100px 30px;
    }


    .our-friends_block,
    .pets_card-block_our-friends {
        justify-content: space-between;
    }

    .pets_card-block_our-friends {
        flex-wrap: nowrap;
        padding: 60px 0;
    }

    /* Help section */
   
    .main__help {
        padding: 80px 69px 100px 69px;
    }
    
    .pets_card-block_main-help {
       max-width: 630px;
       margin: 0 auto;
    }
    
    .help__container {
        display: flex;
        flex-direction: column;
    }
    
    .flex {
        max-width: 630px;
    }

    .help__container {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }
    
    .flex {
        max-width: 630px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 120px);
        padding: 60px 0px;
        align-self: center;
        grid-row-gap: 60px;
        grid-column-gap: 55px;
        padding: 0;    
    }
    
    .help-list {
        padding-top: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .no-padding {
        padding-right: 0px;
    }

}