:root {
    --primary: #F1CDB3;
    --primary-light: #FDDCC4;
    --light-s: #FAFAFA;
    --light-l: #F6F6F6;
    --light-xl: #FFFFFF;
    --dark-s: #CDCDCD;
    --dark-m: #B2B2B2;
    --dark-l: #545454;
    --dark-xl: #4C4C4C;
    --dark-2xl: #444444;
    --dark-3xl: #292929;
}

html {
    scroll-behavior: smooth;
    font-family: 'Georgia';
    font-size: 10px;
}

body, h1, h2, p, ul, li {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.no-scroll {
    overflow: hidden;
}

.body-wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* HEADER */

.header {
    background: url(/shelter/images/screen-gradient.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #262425 100%), #211F20;
}

.header__pets {
    background-color: var(--light-s);
}

.header__main,
.header__pets-page {  
    display: flex;
    align-items: center;
    max-width: 1280px;
    padding: 30px 40px 40px 40px;
    justify-content: space-between;
    margin: 0 auto;
}

.logo__title {
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.logo__title {
    color: var(--primary);
}

h1.logo__pets-page {
    color: var(--dark-l);
}

.logo__subtitle,  
.logo__subtitle_pets-page {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 15px;
    color: var(--light-xl);
    padding-top: 10px;
}

.logo__subtitle_pets-page {
    color: var(--dark-3xl);
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    padding-left: 35px;
}

.pet-page ul li a {
    font-family: 'Arial';
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--dark-l);
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--dark-s);
    font-family: 'Arial';
    line-height: 160%;
}

.underline a {
    color: var(--light-s);
    padding: 1px;
    border-bottom: 3px solid var(--primary);
}

ul li a:hover {
    color: var(--light-s);
    border-bottom: 3px solid #F1CDB3;
}

ul li a.pets-page:hover,
.interactive-menu:hover {
    cursor: pointer;
    color: var(--dark-l);
    border-bottom: none;
}

/* BURGER MENU + ANIMATION */

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    z-index: 2;
    background-color: transparent;
    cursor: pointer;
}

.header__burger-btn:hover span {
    background-color: var(--dark-s);
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: var(--primary);
    transition: background-color .5s, opacity .2s, transform .5s;
    will-change: transform;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

/* Vertical */
header.open .header__burger-btn span:nth-child(1) {
    transform: translateX(-10px) rotate(90deg);
}

header.open .header__burger-btn span:nth-child(2) {
    transform: rotate(90deg)
}

header.open .header__burger-btn span:nth-child(3) {
    transform: translateX(10px) rotate(90deg);
}

/* MAIN */

h2 {
    font-size: 3.8rem;
    line-height: 130%;
    color: var(--dark-l);
    letter-spacing: 0.06em;
}

/* SECTION NOT ONLY */

.main__not-only {
    padding: 90px 40px 0 40px;
    background: url(/shelter/images/screen-gradient.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, #5B483A 0%, #262425 100%), #211F20; 
}

.about__block,
.not-only__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
}

.not-only__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 460px;
    padding: 0 0 40px 0;
}

h1 {
    font-size: 4.4rem;
    line-height: 130%;
    color: var(--light-xl);
    max-width: 310px;
}

.not-only__description p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 160%;
    color: var(--dark-s);
    padding: 42px 0;
    max-width: 460px;
}

.btn__make-friend {
    padding: 15px 45px;
    color: var(--dark-3xl);
    background-color: var(--primary);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.btn__make-friend:hover {
    background-color: var(--light-l);
}

.not-only__pic {
    display: flex;
    max-width: 698px;
    max-height: 728px;
}

.first-screen-photo {
    max-width: 100%;
    height: auto;
}

/* SECTION MAIN ABOUT */

.main__about {
    padding: 80px 40px 100px 40px;
}

.about__block {
    justify-content: space-around;
}

.about__pets-photo {
    width: 300px;
    height: 408px;
}

.about_description {
    max-width: 430px;
}

.about_description h2 {
    padding-right: 60px;
}

.about_description p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--dark-xl);
    padding-top: 25px;
} 

/* SECTION MAIN OUR FRIENDS */

.main__our-friends {
    background-color: var(--light-l);
    padding: 80px 0 100px;
    position: relative;
}

.main__our-friends__pets-page {
    padding: 80px 40px 100px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.our-friends__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.our-friends__heading {
    font-size: 3.8rem;
    text-align: center;
    color: var(--dark-l);
    margin: 0 auto;
}

.slider {
    display: flex;
    gap: 42px;
    align-items: center;
}

.slider-arrow {
    border: 2px solid var(--primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 2s ease;
}

.slider-arrow:hover {
    transform: scale(1.2);
    background-color: var(--primary);
}

.slider-arrow_mobile {
    display: none;
}

.slider-arrow .prev,
.slider-arrow .next {
    position: relative;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.slider-arrow .prev {
    transform: rotate(180deg);
}

.slider__container {
    width: 1000px;
    overflow: hidden;
}

.slider ul.slider__cards {
    display: block;
    width: 9999px;
    margin: 0;
    padding: 0;
    margin-left: -1085px;
}

ul.slider__cards {
    list-style: none;
}

.slider li.slider__card {
    display: inline-flex;
    width: 270px;
    height: 435px;
    margin-left: 0;
    margin-right: 90px;
}

.slider__card {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--light-s);
    padding-bottom: 30px;
    cursor: pointer;
    transition: all 1s ease;
}

.slider__card:hover {
   box-shadow: 4px -4px 20px rgb(84, 84, 84, 0.2);
}

img.slider__card__pic {
    width: 270px;
}

.slider__card p {
    font-size: 2rem;
    font-style: normal;
    color: var(--dark-l);
}

.slider__card button {
    font-style: normal;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--dark-3xl);
    padding: 12px 42px;
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 100px;
    cursor: pointer;
    transition: all 2s ease;
}

.slider__card button:hover {
    background-color: var(--primary);
}

a {
    text-decoration: none;
}

.btn__slider-card {
    padding: 15px 45px;
    color: var(--dark-3xl);
    background-color: var(--primary);
    border-radius: 100px;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
    transition: all 0.2s ease;
}

.btn__slider-card:hover {
    box-shadow: 4px 4px 6px rgb(84, 84, 84, 0.2);
}

/* SECTION MAIN HELP */

.main__help {
    padding: 80px 40px 100px 40px;
}

.help__block {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
 }

.help__block h2 {
    max-width: 379px;
    text-align: center;
    margin: 0 auto;
}

.help__container {
    display: flex;
    flex-direction: column;
}

.help__items {
    display: flex;
    padding: 0px 87px;
    gap: 12px;
    max-width: 1020px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.help-list {
    width: 170px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--dark-l);
}

.help-list:nth-child(4n+5) {
    padding-right: 0px;
}


/* SECTION MAIN IN ADDITION */

.main__in-addition {
    padding: 80px 182px 100px 182px;
    background-color: var(--light-l);
}

.in-addition__block {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
}

.donation-dog-img {
    width: 500px;
    height: 260px;
    padding-right: 30px;
}

.in-addition__description {
    max-width: 380px;
}

.in-addition__description h2 {
    font-size: 3.5rem;
    max-width: 300px;
}

.bank-info {
    padding: 20px 0;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--dark-l);
}

.credit-card-info {
    display: flex;
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 9px;
    max-width: 322px;
}

.credit-card-info img {
    padding-right: 15px;
}

.credit-card {
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--dark-l);
}

.additional-info {
    font-family: 'Arial';
    font-style: italic;
    font-size: 1.2rem;
    line-height: 18px;
    color: var(--dark-m);
    padding-top: 20px;
}

/* FOOTER */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0 40px;
    background-image: linear-gradient(to right, #513D2F, #1A1A1C);
}

.footer__pets {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

.footer__contacts,
.footer__address {
    max-width: 300px;
}

.footer__title {
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--light-xl);
}

.contacts,
.address {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.address-icon,
.contacts-icon {
    padding-right: 20px;
}

.contacts a,
.address a {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--primary);
}

/* PETS PAGE "OUR FRIENDS BLOCK" */

.our-friends__content_pet-page {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.slider__card_pet-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider__card_pet-page .slider__card {
   text-align: center;
   margin-bottom: 30px;
}

.slider__card_pet-page .slider__card p {
    padding: 12px 0;
}

/* pagination */

.pagination_pet-page {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

.btn_single-left-arrow,
.btn_single-right-arrow,
.btn_double-left-arrow, 
.btn_double-right-arrow {
    width: 52px;
    height: 52px;
    border: 1px solid var(--dark-s);
    border-radius: 100%;
    margin-right: 20px;
}

.btn_page-number {
    width: 52px;
    height: 52px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 100%;
    margin-right: 20px;
}

.btn_page-number p {
    position: relative;
    top: 14px;
    left: 21px;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--dark-3xl);
}

.btn_single-right-arrow,
.btn_double-right-arrow {
    border: 2px solid var(--primary);
}

.btn_single-right-arrow:hover {
    background-color: var(--primary-light);
}

.btn_single-left-arrow img,
.btn_single-right-arrow img {
    position: relative;
    top: 18px;
    left: 19px;
}

.btn_double-left-arrow img, 
.btn_double-right-arrow img {
    position: relative;
    top: 18px;
    left: 13px;
}

.btn_double-right-arrow {
    margin-right: 0;
}


/* RESPONSIVE DESIGN */

@media (max-width: 1200px) {

    /* our-friends */

    .slider__container {
        width: 900px;
    }

    .slider ul.slider__cards {
        margin-left: -290px;
    }

    .slider li.slider__card {
        margin-right: 30px;
        
    }

    /* donation section */

    .main__in-addition {
        padding: 80px 40px 100px;
    }

}

@media (max-width: 1120px) {
    .main__not-only {
        padding-top: 45px;
    }

    .slider__container {
        width: 570px;
    }

    .slider ul.slider__cards {
        margin-left: -280px;
    }

    .slider li.slider__card {
        margin-right: 15px;
    }

}

@media (max-width: 960px) {

    /* donation section */

    .main__in-addition {
        padding: 80px 40px 100px 40px;
    }
    
    .donation-dog-img {
        width: 400px;
        height: 220px;
        padding-right: 20px;
    }
    
    .in-addition__description h2 {
        font-size: 3.2rem;
    }

    /* footer */

    .footer__contacts,
    .footer__address {
        padding-right: 40px;
    }
    
    .footer__title {
        font-size: 2.5rem;
    }
    
    .contacts,
    .address {
        max-height: 30px;
    }

    .contacts a,
    .address a {
        font-size: 1.6rem;
    }
    
}

@media (max-width: 915px) {

    .our-friends__content_pet-page {
        max-width: 800px;
    }

    .slider__card_pet-page {
        justify-content: center;
        gap: 40px;
    }
    
    .slider__card_pet-page .slider__card {
       margin-bottom: 0px;
    }

    /* footer */

    .footer__contacts,
    .footer__address {
        padding-right: 20px;
    }

    .footer__title {
        font-size: 2.2rem;
    }
}

@media (max-width: 850px) {

    /* about section */
    
    .about__pets-photo {
        width: 280px;
        height: 380px;
    }
    
    .about_description {
        max-width: 360px;
    }
    
    .about_description h2 {
        font-size: 2.8rem;
    }
    
    .about_description p {
        font-size: 1.4rem;
        line-height: 150%;
    } 

    /* help section */

    .help__block {
        max-width: 730px;
     }
    
    .help__items {
        padding: 0px 60px;
    }

    /* donation section */

    .donation-dog-img {
        width: 340px;
        height: 200px;
        padding-right: 20px;
    }
    
    .credit-card-info {
        max-width: 280px;
    }
    
    .credit-card {
        font-size: 1.7rem;
        line-height: 140%;
    }

    /* footer */

    .footer__img {
        width: 260px;
        height: 270px;
    }
}


@media (max-width: 768px) {

    /* not only section */

    .main__not-only {
        padding-top: 25px;
    }
    
    .not-only__block {
        justify-content: center;
        max-width: 1020px;
    }
       
    .btn__make-friend {
        margin: 0 auto;
    }
        
    .not-only__pic {
        max-width: 568px;
        max-height: 594px;
    }

    /* about section */

    .about__block  {
        flex-direction: column-reverse;
        align-items: center;
        max-width: 1020px;
    }
    
    .about__pets-photo {
        padding-top: 80px;
    }
    
    .about_description,
    .about__pets-photo  {
        max-width: 430px;
    }
    
    .about_description h2 {
        max-width: 300px;
        padding-right: 0px;
    }

    /* our friends */

    .main__our-friends {
        padding: 80px 30px 100px;
    }
    
    .wrapper {
        max-width: 708px;
    }

    .slider {
        gap: 12px;
    }
    
    .slider__container {
        width: 572px;
    }
    
    .slider ul.slider__cards {
        margin-left: -318px;
    }
    
    .slider li.slider__card {
        margin-right: 40px;
    }

    /* PETS PAGE "OUR FRIENDS BLOCK" */

    .our-friends__content_pet-page {
        max-width: 580px;
        margin: 0 auto;
    }

    /* help section */

    .help__items {
        padding: 0 5px;
    }

    /* donation section */

    .main__in-addition {
        padding: 80px 132px 100px;
    }
    
    .in-addition__block {
        flex-direction: column-reverse;
        align-items: center;
        max-width: 508px;
    }
    
    .donation-dog-img {
        width: 500px;
        height: 260px;
        padding-right: 0px;
    }
    
    .in-addition__description h2 {
        font-size: 3.5rem;
    }
    
    .credit-card-info {
        max-width: 322px;
    }

    /* footer */

    .footer {
        justify-content: space-around;
        padding: 30px;
        padding-bottom: 0;
    }
    
    .footer__pets {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        width: 708px;
    }
    
    .footer__contacts,
    .footer__address {
        max-width: 302px;
        margin-bottom: 45px;
    }

    .footer__title {
        font-size: 3.5rem;
    }

}

@media (max-width: 751px ) {

    /* burger menu */

    .header__burger-btn {
        display: block;
        pointer-events: auto;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        z-index: 2;
        background-color: transparent;
        cursor: pointer;
    }

    .header__burger-btn span {
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        left: 5px;
        background-color: var(--primary);
        transition: background-color .5s, opacity .2s, transform .5s;
        will-change: transform;
    }

    .header__burger-btn:hover span {
        background-color: var(--dark-s);
    }

    .navbar,
    .pet-page {
        position: absolute;
        right: -320px;
        top: 0;
        width: 320px;
        height: 100%;
        background-color: var(--dark-2xl);
        font-size: 2.4rem;
        color: var(--light-xl);
        padding: 20px;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;
        box-shadow: 0 14px 0 900px rgb(41, 41, 41, .3);
        z-index: 2;
    }

    header.open .navbar {
        transform: translateX(-88%);
        visibility: visible;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 248px 38px;
        max-width: 243px;
    }

    .navbar ul li {
        padding-bottom: 40px;
        padding-left: 0;
    }

    .navbar ul li a.interactive-menu {
        color: var(--light-xl);
    }

    /* our friends */

    .main__our-friends {
        padding: 60px 30px 80px;
    }

    .slider {
        gap: 10px;
    }
    
    .slider__container {
        width: 472px;
    }
    
    .slider ul.slider__cards {
        margin-left: -204px;
    }
    
    .slider li.slider__card {
        width: 200px;
        height: 370px;
        margin-right: 25px;
    }

    img.slider__card__pic {
        width: 200px;
    }

    /* donation block */

    .in-addition__block {
        gap: 20px;
    }

    .donation-dog-img {
        width: 400px;
        height: 200px;
    }
    
    /* footer */
    
    .footer__pets {
        max-width: 580px;
        gap: 20px;
    }

}

@media (max-width: 650px) {

    .donation-dog-img {
        width: 340px;
        height: 190px;
    }
}

@media (max-width: 620px) {

    .header__pets-page {
        padding: 30px 20px;
    }

    /* our friends */

    .main__our-friends {
        padding: 40px 20px 60px;
    }

    .our-friends__content {
        gap: 40px;
    }

    .slider {
        flex-direction: column;
        gap: 10px;
    }

    .slider-arrow {
        display: none;
    }

    .slider-arrow_mobile {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        width: 220px;
        margin: auto;
    }

    .arrow_mobile-prev,
    .arrow_mobile-next {
        border: 2px solid var(--primary);
        border-radius: 100%;
        padding: 20px;
    }

    .arrow_mobile-prev {
        transform: rotate(180deg);
    }

    .arrow_mobile-prev:hover,
    .arrow_mobile-next:hover {
        cursor: pointer;
        background-color: var(--primary);
    }
    
}

@media (max-width: 500px) {

    .header__pets-page {
        max-width: 400px; 
    }

    /* about section */

    .about__block {
        max-width: 400px;
    }

    /* our friend section */

    .our-friends__heading,
    .help__block h2,
    .in-addition__description h2{
        font-size: 3rem;
    }

    .slider li.slider__card {
        width: 270px;
        height: 435px;
        margin-right: 0;
    }

    .slider__container {
        width: 270px;
    }

    .slider ul.slider__cards {
        margin-left: -269px;
    }

    .slider__card__pic {
        width: 270px;
        height: 260px;
    }

    .main__in-addition {
        padding: 80px 40px 100px;
    }

    /* PETS PAGE "OUR FRIENDS BLOCK" */

    .our-friends__content_pet-page {
        max-width: 400px;
    }

    .slider__card_pet-page {
        gap: 20px;
    }

    /* help section */

    .main__help {
        padding: 42px 15px;
    }
}

@media (max-width: 392px) {

    /* header */

    .header__main {
        padding: 30px 20px;
    }

    .logo__title {
        letter-spacing: 0;
    }

    h1.logo__pets-page {
        text-align: left;
        padding: 0;
    }

    .logo__subtitle {
        font-size: 1.3rem;
    }

    /* not only  section*/

    h1 {
        font-size: 2.8rem;
        text-align: center;
        padding: 0 40px;
        letter-spacing: 0.1rem;
    }

    .not-only__description p { 
        text-align: center;
        font-size: 1.5rem;
    }

    /* about block */

    .main__about,
    .main__our-friends,
    .main__help,
    .main__in-addition  {
        padding: 42px 10px;
    }

    .about__block  {
        max-width: 300px;
    }
    
    .about_description,
    .about__pets-photo  {
        max-width: 300px;
    }
    
    .about_description h2 {
       font-size: 2.5rem;
       text-align: center;
       padding: 0 20px;
    }

    .about_description p {
        text-align: justify;
    }

    /* our friends block */

    .our-friends__heading {
        font-size: 2.5rem;
    }

    /* help block */

    .help__block {
        max-width: 290px;
    }

    .help__block h2 {
        font-size: 2.5rem;   
        padding: 0 20px;
    }

    .help__container {
        padding-top: 42px;
    }

    .help__items {
        justify-content: space-between;
    }

    .help-list {
        width: 130px;
        padding: 0;
        padding-bottom: 30px;
    }

    .help-list:last-child {
        padding-bottom: 0;
    }

    .help-list p {
        font-size: 1.5rem;
        padding-top: 20px;
    }

    /* donation */

    .in-addition__block {
        max-width: 300px;
    }

    .in-addition__description h2 {
        font-size: 2.5rem; 
        text-align: center;  
        padding: 0 40px;
    }

    .bank-info,
    .credit-card {
        font-size: 1.5rem; 
    }

    .bank-info {
        padding: 20px 13px;
        letter-spacing: 0rem;
    }

    .credit-card {
        line-height: 160%;
    }

    .additional-info {
        font-size: 1.2rem; 
    }

    .donation-dog-img {
        width: 260px;
        height: 134px;
    }

    /* footer */

    .footer {
        padding: 30px 10px 0;
    }

    .footer__pets {
        max-width: 300px;
    }

    .footer__contacts,
    .footer__address {
        padding: 0;
    }

    .footer__title {
        font-size: 2.5rem;
        text-align: center;
        padding: 0 20px;
    }

    .contacts,
    .address {
        justify-content: center;
    }

    .footer__address .address a {
        max-width: 184px;
        text-align: justify;
    }

    a.address {
        font-size: 1.4rem;
        padding: 0;
    }

    /* PETS PAGE */ 
    /* pagination */

    .pagination_pet-page {
        max-width: 300px;
    }

    .btn_single-left-arrow,
    .btn_single-right-arrow,
    .btn_double-left-arrow, 
    .btn_double-right-arrow {
        margin-right: 10px;
    }

    .btn_page-number {
        margin-right: 10px;
    }

    .btn_double-right-arrow {
        margin-right: 0;
    }

 }